<div class="jumbotron jumbotron-landing">
    <p class="lead">Geniet nu al van de nieuwe functionaliteit van de toekomstige versie van UiTdatabank.</p>
    <div class="row countdown">
        <div class="col-sm-6 launch-counter">
            <img src="{{ launch_counter }}" alt="launch counter"/>
        </div>
        <div class="col-sm-6 launch-features">
            <p class="countdown-phase">nu</p>
            <ul>
                <li>snel activiteiten zoeken</li>
                <li>meerdere activiteiten labelen</li>
            </ul>

            <p class="countdown-phase">straks</p>
            <ul>
                <li>exporteren</li>
                <li>invoeren</li>
            </ul>
        </div>
    </div>

    <div class="btn-block">
        {% if logged_in %}
        <a class="btn btn-lg btn-danger" ng-href="/udb3/search" >Zoeken</a>
        {% else %}
        <a class="btn btn-lg btn-danger" ng-href="/culturefeed/oauth/connect">Aanmelden</a>
        {% endif %}
    </div>

    <p class="udb2-info">
        <strong>Wil je een activiteit invoeren?</strong><br/>
        <a href="http://www.uitdatabank.be/">Terug naar de huidige UiTdatabank</a>
    </p>


</div>
