{% extends "modules/culturefeed/culturefeed_udb3_app/templates/udb-page.html.twig" %}

{% block content %}
    <form>
    <label for="event-name">Event name</label><input type="text" id="event-name" />
    </form>
{% endblock %}
