@CHARSET "UTF-8";

#basic-wrapper .form-item {
  float: left;
}

#edit-what fieldset {
  width: 32.4%;
  float: left;
  min-height: 431px;
}

.form-item-location-street, .form-item-zip-code, .form-item-location-country {
  clear: left;
}

.form-item-location-house-number {
  margin-left: 30px;
}

#citywrapper-ajax-wrapper {
  clear: left;
}

.form-item-country-select {
  clear: left;
}

#datetimes-ajax-wrapper {
  clear: left;
}

.link-field {
  float: left;
}

input.form-checkbox {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

#photo-ajax-wrapper img {
  max-width: 150px;
  max-height: 150px;
}

.price-prefix {
  float: left;
  margin-right: 5px;
  margin-top: 24px;
}

.price-amount {
  float: left;
  margin-bottom: 15px;
}

.form-type-textarea {
  clear: left;
}

.price-add-more-subit {
  clear: left;
  width: 100%;
}

input.add-more-link {
  border:none !important;
  background: none !important;
  border-radius: 0 !important;
  font-weight: normal !important;
  color: #0071B3 !important;
  padding: 0px !important;
  clear: left;
  display: block;
}

input.add-more-link:hover {
  color: #018fe2 !important;
  text-decoration: underline !important;
}

/* contacts */
#contacts-ajax-wrapper .form-type-select {
  width: 15%;
  float: left;
}

#contacts-ajax-wrapper .form-type-textfield input {
  width: 85%;
}

#performers-ajax-wrapper .form-type-textfield {
  float: left;
  width: 48%;
  margin-right: 2%;
}

#edit-language .form-type-select {
  width: 20%;
  float: left;
}

/* dates */

#datetimes-ajax-wrapper .container-inline-date, #datetimes-ajax-wrapper .form-item {
  float: left;
  clear: none;
}

#datetimes-ajax-wrapper .container-inline-date .date-padding {
  padding: 0;
}

#datetimes-ajax-wrapper .form-type-date-select .form-type-select[class$=hour] {
    margin-left: .50em;
}

#datetimes-ajax-wrapper .datetime-child input.add-more-link {
  clear: none;
  float: left;
}

.datetime-child {
  clear: left;
}