
#culturefeed-entry-ui-edit-collaboration-data-form fieldset .panel-body {
  padding-top: 0px;
}

#culturefeed-entry-ui-edit-collaboration-data-form fieldset .no-top-margin {
  margin-top: 0px;
}

#culturefeed-entry-ui-edit-collaboration-data-form legend.panel-heading {
  display: none;
}
