{% extends "@culturefeed_ui/ui.html.twig" %}

{% block culturefeed_ui_content %}
<h1 class="page-header">{{ user.nick }}</h1>
<div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
        <div class="profile">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                        Mijn UiTiD
                    </h3>

                    <span class="pull-right">
                        <i class="fa fa-pencil-square-o"></i>
                        <a href="/culturefeed/profile/edit" class="profile-edit-link">Bewerken</a>
                    </span>

                    <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                    <div class="media">
                        <div class="pull-left">
                            <img src="{{ user.depiction }}?maxwidth=100"
                                 alt=""></div>

                        <div class="media-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="block-culturefeed-social-user-activities" class="block block-culturefeed-social clearfix">

        <p class="block-title">Recente gebeurtenissen</p>

        Deze gebruiker heeft nog geen acties uitgevoerd
    </section>
</div>
{% endblock %}
