<div class="row">

    <section class="col-md-9">
        {% block messages %}
        {% endblock %}

        {% block culturefeed_ui_content %}
        {% endblock %}
    </section>

    <aside class="col-md-3" role="complementary">
        <div class="region region-sidebar-second">
            <section id="block-culturefeed-ui-profile-menu" class="block block-culturefeed-ui clearfix">

                <p class="block-title">Beheer je profiel</p>

                <ul class="list-group">
                    <li class="list-group-item first"><a href="/culturefeed/profile">
                            <p class="lead">Mijn profiel</p>
                        </a>
                        <small>Hoe andere gebruikers je profiel zien</small>
                    </li>
                    <li class="list-group-item"><a href="/culturefeed/profile/edit">
                            <p class="lead">Profiel bewerken</p>
                        </a>
                        <small>Wijzig naam, adres, profielfoto,...</small>
                    </li>
                    <li class="list-group-item"><a href="/culturefeed/account/edit">
                            <p class="lead">Account bewerken</p>
                        </a>
                        <small>Wijzig paswoord, e-mailadres, toepassingen verbonden met jouw account,…</small>
                    </li>
                </ul>
            </section>
        </div>
    </aside>
</div>
